<% if @user.profile_photo %>
  <% photo = cl_image_path @user.profile_photo.path %>
<% else %>
  <% photo = image_path 'face_placeholder.png' %>
<% end %>


<div class="container-fluid profile-banner">
  <div class="user-img" style="background-image: url('<%= photo %>');">

  </div>
  <div class="user-info">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <p><i class="fa fa-globe fa-fw"></i> <%= @user.city %></p>
    <p><i class="fa fa-graduation-cap fa-fw"></i> <%= @user.education %></p>
  </div>
  <% if policy(@user).update? %>
    <%= link_to edit_user_path(@user), class: "edit-profile-btn" do %>
      <i class="fa fa-wrench"></i>
    <% end %>
  <% end %>
</div>
<div class="container">
<div class="text-center"><h2><strong>Skills</strong></h2></div>

  <div class="row">
    <!-- Put skills here with cols -->
  </div>
</div>

