<div class="edit-wrapper" style="background: #304a75">
  <div class="content-wrapper" style="background-color: #EEEEEE">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <br>
          <h1 class="text-center"><strong><em>Add a new skill</em></strong></h1>
          <hr>
          <%= simple_form_for(@user_skill) do |f| %>
            <%= f.association :skill, include_blank: false, include_hidden: false, label_method: lambda { |skill| "#{skill.skill}" } %>
            <%= f.input :years, collection: (1..30).to_a %>
          <div class="button">
            <%= f.input :description, :as => :text %>
            <%= f.submit "Create", class: "btn btn-primary", style: "background-color: #2f3f59; border:none"  %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
