<% app_conversation = Conversation.between(application.user.id, application.role.project.user.id).where(application: application).first %>
<% if app_conversation %>
  <div class="chat-container">
    <div class="messages-container">
      <% app_conversation.messages.each do |msg| %>
      <div class="message">

      <% if msg.user == current_user %>

        <% if msg.user.profile_photo %>
          <% profile_pic = cl_image_path msg.user.profile_photo.path %>
        <% else %>
          <% profile_pic = image_path "face_placeholder.png" %>
        <% end %>
        <p class="text-right"><%= msg.body %> <%= image_tag profile_pic, class: "avatar" %></p>

      <% else %>

        <% if msg.user.profile_photo %>
          <% profile_pic = cl_image_path msg.user.profile_photo.path %>
        <% else %>
          <% profile_pic = image_path "face_placeholder.png" %>
        <% end %>
      <p class="text-left"><%= image_tag profile_pic, class: "avatar" %> <%= msg.body %></p>
      <% end %>

      </div>
      <% end %>
    </div>
    <div class="message-input">
      <%= simple_form_for [application.conversation, application.conversation.messages.new] do |f| %>
        <div class="form-inline">
          <%= f.input :body, label: false %>
          <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
          <%= f.submit "Send", class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
