<div class="content-wrapper">
  <h1 class="hidden">Dashboard</h1>
    <div class="container">
      <br>
      <div class="proj-dashboard">
        <h2>My Projects</h2>
        <br>
        <div class="row">
          <% if @projects.any? %>
            <% @projects.each do |project| %>
              <div class="col-xs-12 col-sm-4">
                  <div class="card">
                    <%= render "projects/card", project: project %>
                  </div>
              </div>
            <% end %>
          <% else %>
            <h3 class="text-center"><%= "You have no projects at the moment" %></h3>
          <% end %>
        </div>
          <div class="create">
            <% if policy(User).create? %>
              <%= link_to "Create a project", new_project_path, class: "btn btn-primary btn-lg" %>
            <% end %>
          </div>
        </div>
        <hr>
        <br>

        <br>
          <h2>Project Applicants</h2>
        <br>

      <!-- APPLICATIONS TO MY PROJECTS -->
      <div class="row">
        <% if @user_applications.empty? %>
          <h3 class="text-center">You have no applicants to review</h3>
        <% else %>
          <% @user_applications.each do |application| %>
            <% unless application.status.capitalize == "Declined" %>
              <%= render "pages/application_card", application: application, applicant: true %>
            <% end %>
          <% end %>
        <% end %>
      </div>
        <hr>
        <br>
      <h2>My Role Applications</h2>
        <br>

      <!-- MY APPLICATIONS -->
      <div class="row">
        <% if current_user.applications.empty? %>
          <h3 class="text-center">You have made no applications</h3>
        <% else %>
          <% @applications.each do |application| %>
            <%= render "pages/application_card", application: application, applicant: false %>
          <% end %>
        <% end %>
      </div>
      <br>
    </div>
</div>
