
<!-- The links below are for OpenGraph and Twitter to be able to pull the relevent info when sharing on their sites. -->
<% content_for :meta_title, @project.name %>
<% content_for :meta_description, @project.summary %>
<% content_for :meta_image, cloudinary_url(@project.photo.path) %>

  <% if @project.photo %>
  <% photo = cl_image_path @project.photo.path %>
<% else %>
<% photo = image_path 'background.jpg' %>
<% end %>

<% if @project.user.profile_photo %>
  <% profile = cl_image_path @project.user.profile_photo %>
<% else %>
  <% profile = image_path 'face_placeholder.png' %>
<% end %>
<div class="wrapper" style="background-color: #EEEEEE">
<div class="banner-show-project" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= photo %>');" >

  <% if @project.user == current_user %>
    <%= link_to edit_project_path(@project), class: "edit-project" do %>
      <i class="fa fa-wrench"></i>
    <% end %>
  <% end %>

  <% if @project.user == current_user %>
      <%= link_to dashboard_path, class: "edit-project-dashboard" do %>
        <i class="fa fa-tasks"></i>
    <% end %>
  <% end %>

  <div class="container">
    <h1><%= @project.name %></h1>
    <p style="color: white; font-weight: 300"><%= @project.summary %></p>
    <h4 style="color: white;"><%= @project.located %></h4>
    <i class="fa fa-calendar" aria-hidden="true" style="color:white; font-size: 25px;text-decoration-style: bold; margin-top: 25px;"> <%= @project.start_date %> </i>
  </div>

</div>

<br>

<div class="container" style="min-height: 100px; background-color: #f9fafc; border-top: .5px solid #b6b7ba; border-right: .5px solid #b6b7ba; border-left: .5px solid #b6b7ba;border-bottom: .5px solid #b6b7ba; margin-top: 10px; margin-bottom: 30px; border-radius: 5px;">
  <p><%= @project.details %></p>

</div>

<div class="container">
  <div class="roles-text">
    <h2 class="text-center" style="margin-bottom: 12px; color: #595a5b;">Available roles</h2>

    <% if @project.user == current_user %>
      <%= link_to new_project_role_path(@project) do %>
        <i class="fa fa-plus-circle" style="font-size: 40px; color: #2f3f59;"></i>
      <% end %>
    <% end %>
  </div>
    <% if @project.roles.empty? %>
      <p class="text-center"><%= "There are no roles available for this project" %></p>
    <% else %>
    <hr style="color: #2e3033">




      <% @project.roles.each do |role| %>

      <% if role.icon %>
        <% icon = cl_image_path role.icon.path %>
      <% else %>
        <% icon = 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Infobox_info_icon.svg/1024px-Infobox_info_icon.svg.png' %>
      <% end %>
      <div class="project-role-card">
        <div class="project-role-card-icon avatar-large" style="background-image: url('<%= icon %>');">
        </div>
        <div class="project-role-card-content">
          <h3><%= role.name %></h3>
          <p><%= role.description %></p>
        </div>
        <div class="project-role-card-button">
          <% if @project.user == current_user %>
            <%= link_to "Edit", edit_project_role_path(@project, role), class: 'btn btn-primary' %>
          <% else %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#application<%= role.id %>">
             Apply
            </button>
          <% end %>
        </div>
        <% unless role.applications.any? %>
          <div class="project-role-card-ribbon">
            <span>NEW</span>
          </div>
        <% end %>
      </div>

      <div class="modal fade" id="application<%= role.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="text-center modal-body" style="height: 350px;">
              <h2 class="modal-title" style="margin-bottom: 30px;">Apply to <%= role.name %></h2>
              <%= simple_form_for [role, @application] do |f| %>
              <%= f.input :cover_message, input_html: {rows: '10'} %>
              <div style="margin-top: 8px;"> <%= f.submit :Apply, class: "btn btn-primary" %> </div>
              <% end %>


            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>
<!-- Modal -->

