
<!-- The links below are for OpenGraph and Twitter to be able to pull the relevent info when sharing on their sites. -->
<% content_for :meta_title, @project.name %>
<% content_for :meta_description, @project.summary %>
<% content_for :meta_image, cloudinary_url(@project.photo.path) %>

  <% if @project.photo %>
  <% photo = cl_image_path @project.photo.path %>
<% else %>
<% photo = image_path 'background.jpg' %>
<% end %>

<% if @project.user.profile_photo %>
  <% profile = cl_image_path @project.user.profile_photo %>
<% else %>
  <% profile = image_path 'face_placeholder.png' %>
<% end %>

<div class="banner-show-project" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= photo %>');" >

  <% if @project.user == current_user %>
    <%= link_to edit_project_path(@project), class: "edit-project" do %>
      <i class="fa fa-wrench"></i>
    <% end %>
  <% end %>

  <% if @project.user == current_user %>
      <%= link_to dashboard_path, class: "edit-project-dashboard" do %>
        <i class="fa fa-tasks"></i>
    <% end %>
  <% end %>

  <div class="container">
    <h1><%= @project.name %></h1>
    <p style="font-style: italic;"><%= @project.summary %></p>
  </div>
</div>

<br>

<div class="container" style="min-height: 100px; background-color: #f9fafc; border-top: 1px solid #34393f; border-right: 1px solid #34393f; border-left: 1px solid #34393f;border-bottom: 1px solid #34393f; margin-bottom: 30px; border-radius: 5px;">
  <p><%= @project.details %></p>
</div>

<div class="container">
  <div class="roles-text">
    <h2 class="text-center" style="margin-bottom: 20px; color: #708090;">Available roles</h2>

    <% if @project.user == current_user %>
      <%= link_to new_project_role_path(@project) do %>
        <i class="fa fa-plus-circle" style="font-size: 40px; color: black;"></i>
      <% end %>
    <% end %>
  </div>
    <% if @project.roles.empty? %>
      <p class="text-center"><%= "There are no roles available for this project" %></p>
    <% else %>
    <hr>




      <% @project.roles.each do |role| %>

      <% if role.icon %>
        <% icon = cl_image_path role.icon.path %>
      <% else %>
        <% icon = 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Infobox_info_icon.svg/1024px-Infobox_info_icon.svg.png' %>
      <% end %>
      <div class="project-role-card">
        <div class="project-role-card-icon avatar-large" style="background-image: url('<%= icon %>');">
        </div>
        <div class="project-role-card-content">
          <h3><%= role.name %></h3>
          <p><%= role.description %></p>
        </div>
        <div class="project-role-card-button">
          <% if @project.user == current_user %>
            <%= link_to "Edit", edit_project_role_path(@project, role), class: 'btn btn-primary' %>
          <% else %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#application<%= role.id %>">
             Apply
            </button>
          <% end %>
        </div>
        <% unless role.applications.any? %>
          <div class="project-role-card-ribbon">
            <span>NEW</span>
          </div>
        <% end %>
      </div>

      <div class="modal fade" id="application<%= role.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <h2 class="modal-title">Apply to <%= role.name %></h2>
              <%= simple_form_for [role, @application] do |f| %>
                <%= text_area_tag :cover_message %>
                <%= f.submit :Apply %>
               <% end %>

              <%= link_to 'Back to dashboard', dashboard_path, class: "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!-- Modal -->

