<div class="content-wrapper" style="background-color: #EEEEEE">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="margin-top: 100px;">
        <div class="text-center">
        <h2 style="color: #595a5b">Log in</h2>
        </div>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs" style="margin-top: 15px;">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: false %>

            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.submit "Log In", class: "btn btn-primary", style: "border:none; background-color:#2f3f59" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="text-center" style="margin-top: -45px">
<%= render "devise/shared/links" %>
</div>

