<div class="content-wrapper">
  <div class="container" style="margin-top: 60px; margin-bottom: 45px;">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="border-radius: 8px; padding: 8px; background-color: #D3D3D3">
        <h2><center>Edit the role</center></h2>
        <br>
          <%= simple_form_for [@project, @role] do |f| %>
            <%= f.input :name %>
            <%= f.input :description %>
            <br>
            <%= f.association :skills, as: :check_boxes, :include_blank => false, :label_method => lambda { |skill| "#{skill.skill}" } %>
            <%= f.input :icon, as: :attachinary %>

          <div class="button-flex">
            <%= f.submit "Update", class: "btn btn-primary", style: "background-color:#2f3f59; border:none;" %>
          <% end %>
        <%= button_to "Delete", project_role_path(@project, @role), method: :delete, class: "btn btn-warning", style: "background-color:#2f3f59; border: none;" %>
        </div>
     </div>
    </div>
  </div>
</div>
