<div class="container">
  <div class="row" style="margin-top: 55px;">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@project, @role] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.association :skills, as: :check_boxes, :include_blank => false, :label_method => lambda { |skill| "#{skill.skill}" } %>
        <%= f.input :icon, as: :attachinary %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
