<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@project, @role] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :icon, as: :attachinary %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
