<div class="container">
  <div class="row" style="margin-top: 55px;">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="border-radius: 8px; padding: 8px; background-color: #D3D3D3">
      <h2><center>Create a role</center></h2>
      <br>
        <%= simple_form_for [@project, @role] do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <br>

          <div class="form-group check_boxes optional role_skills">
            <label class="control-label check_boxes optional">
              Skills
            </label>
            <input type="hidden" name="role[skill_ids][]" value="">
            <div class="skill-choices">
            <% Skill.all.each do |skill| %>
                <input class="hidden" type="checkbox" value="<%= skill.id %>" name="role[skill_ids][]" id="role_skill_ids_<%= skill.id %>">
                <label  class="skill-choice" for="role_skill_ids_<%= skill.id %>">
                  <%= skill.skill %> <i class="fa fa-check"></i>
                  <%= image_tag skill.photo, class: "avatar-square" %>
                </label>
            <% end %>
            </div>
          </div>


          <%= f.input :icon, as: :attachinary %>
          <%= f.button :submit %>
        <% end %>
    </div>
  </div>
</div>
